/.bundle/
/.sass-cache/
/.yardoc
/_yardoc/
/coverage/
/doc/
/Gemfile.lock
/pkg/
/spec/reports/
/spec/support/dummy_rails_app/log/
/spec/support/dummy_rails_app/public/
/spec/support/dummy_rails_app/tmp/
/tmp/
.rspec_status
